body {
  padding-top: 50px;
  padding-bottom: 20px;
	/*background-color: #E0E0E0;*/
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

nav {
	width: 100%;
	background-color: #547AA5;
}

#navbar {
	color:black;
}

.link-block {
    box-shadow: 2px 2px 3px #547AA5;
    margin: auto;
    width: 210px;
}

.link-text {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #547AA5;
}

.link-img {
    width: 210px;
    height: 210px;
    border: 1px solid #547AA5;
}